*
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 80px;     
  background-color: #232323;
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
  padding: 17px 0px;
}
.background-header .navbar {
  padding: 17px 0px;
}
.background-header {
  top: 0;
  position: fixed;
  background-color: #fff!important;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
  color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
 color: #1e1e1e!important;
  font-family: Poppins;

}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
  color: #f33f3f!important;
}
.navbar .navbar-brand {
  float:  left;
  margin-top: -12px;
  outline: none;
}
.navbar .navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
  font-style: normal;
  color: #f33f3f;
}
#navbarResponsive {
  z-index: 999;
}
.navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color:red;
  transition: all 0.5s;
  margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
  color: #fff;
  padding-bottom: 25px;
  border-bottom: 3px solid #f33f3f;
}

.navbar-toggler
{
  position: relative;
  top: 5px;
  margin-right: 14px;
}
.navbar-tog-icon
{
  padding: 10px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #f33f3f;
  border-radius: 50%;
  color: white;
  font-size: 16px;
}
.logo-img
{
  top: -3px;
}
.navbar .navbar-toggler-icon {
  background-image: none;

}
.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff; 
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar .navbar-toggler-icon:after {
  content: '\f0c9';
  color: #f33f3f;
  font-size: 18px;
  line-height: 26px;
  font-family: 'FontAwesome';
}
@media screen and (max-width: 992px)
{
  .navbar-nav
  {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
  /* Banner Style */
.banner {
  position: relative;
  text-align: center;
  padding-top: 80px;
     background: #eee;
  box-shadow: 0 6px 6px -4px red;
}

.banner-item-01 {
  padding: 300px 0px;
  background-image: url(/images/ban1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-item-02 {
  padding: 300px 0px;
  background-image: url(../images/ban2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-item-03 {
  padding: 300px 0px;
  background-image: url(../images/ban3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .banner-item {
  max-height: 600px;
}

.banner .text-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.banner .text-content h4 {
  color: #f33f3f;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner .text-content h2 {
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: 5px;
}



 .cards
{
  width: 100%;
  height: auto;

}
.card{
  margin:6%;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  float: left;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 13px 1px -7px rgba(0,0,0,0.1);
}
.card:hover
{
  box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height:100px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.card_info
{
  background-color: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #fff;
}
.card_category
{
  font-family: "Raleway",sans-serif;
  text-transform: "uppercase";
  font-size:13px;
  letter-spacing: 2px;
  font-weight: 500px;

}
.card_title
{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway",sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
.button
{
  padding: 5px 8px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 13px;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
/*contact from*/
 .my-form {
        color: #305896;
    }
    .my-form .btn-default {
        background-color: #305896;
        color: #fff;
        border-radius: 5px;
    }
    .my-form .btn-default:hover {
        background-color:  #868686;
        color: #fff;
       
    }
    .my-form .form-control {
        border-radius:  8px;
    }
    .container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;


}
/*list*/

.event-schedule-area .tab-area .tab-content .table {
    margin-bottom: 0;
    width: 80%;
}
.event-schedule-area .tab-area .tab-content .table thead td,
.event-schedule-area .tab-area .tab-content .table thead th {
    border-bottom-width: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #252525;
}
.event-schedule-area .tab-area .tab-content .table td,
.event-schedule-area .tab-area .tab-content .table th {
    border: 1px solid #b7b7b7;
    padding-left: 30px;
}
.event-schedule-area .tab-area .tab-content .table tbody th .heading,
.event-schedule-area .tab-area .tab-content .table tbody td .heading {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 6px;
}
.event-schedule-area .tab-area .tab-content .table tbody th span,
.event-schedule-area .tab-area .tab-content .table tbody td span {
    color: #4125dd;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
}
.event-schedule-area .tab-area .tab-content .table tbody th span.date,
.event-schedule-area .tab-area .tab-content .table tbody td span.date {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}
.event-schedule-area .tab-area .tab-content .table tbody th p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.event-schedule-area-two .section-title .title-text h2 {
    margin: 0px 0 15px;
}

.event-schedule-area-two ul.custom-tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}
.event-schedule-area-two ul.custom-tab li {
    margin-right: 70px;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a:hover:before {
    width: 100%;
}
.event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #4125dd;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two ul.custom-tab li a.active {
    color: #4125dd;
}

.event-schedule-area-two .primary-btn {
    margin-top: 40px;
}

.event-schedule-area-two .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.event-schedule-area-two .tab-content .table thead {
    background-color: #f33f3f;
    color: #fff;
    font-size: 20px;
}
.event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}
.event-schedule-area-two .tab-content .table tbody {
    background: #fff;
}
.event-schedule-area-two .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date {
    color: #252525;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}
.event-schedule-area-two .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr td .r-no span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 20px;
    line-height: 20px;
    color: #cf057c;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #4125dd;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a {
    color: #4125dd;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover {
    color: #4125dd;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
/*footer*/

footer {
  margin-top: 60px;
  padding: 20px 0px;
  background-color: #f33f3f;
}

footer .left-text-content p {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}

footer .right-text-content p {
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
  text-transform: uppercase;
}


footer .right-text-content {
  text-align: left;
  margin-top: 10px;
}

footer .logo {
  text-align: center;
}

footer .right-text-content ul li {
  display: inline-block;
  margin-left: 15px;
}
footer .right-text-content ul li:first-child {
  margin-left: 0px;
}


.right-text-content ul li a {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 50%;
  color: #fb5849;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .right-text-content ul li a:hover {
  color: #2a2a2a;
}



@media screen and (max-width: 992px)
{
  footer .right-text-content {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .left-text-content p {
    text-align: center;
    margin-top: 30px;
  }
}
.footer-link
{
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-link:hover
{
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}






.carousel
{
}
.carousel-inner
  {
      height: 500px; 
  }
@media screen and (min-width: 768px)
{
  .carousel-inner
  {
      height: calc(100vh - 126px);
      height: -webkit-calc(100vh - 126px);  
      height: -moz-calc(100vh - 126px);  
  }
}
.arrow-left-hover
{
    transform: translateX(-15px);
    transition: transform 1s;
}
.arrow-left-hover-alt
{
    transform: translateX(0px);
    transition: transform 1s;
}

.arrow-right-hover
{
    transform: translateX(15px);
    transition: transform 1s;
    
}
.arrow-right-hover-alt
{
    transform: translateX(0px);
    transition: transform 1s;
}
.overlay-cont
{
  height: 500px;
}
@media screen and (min-width: 768px)
{
  .overlay-cont
{
    height: calc(100vh - 126px);
    height: -webkit-calc(100vh - 126px);  
    height: -moz-calc(100vh - 126px); 
}
}

.tagline-cont
{
    background-color: rgba(0, 0, 0, 0.5);
}
.tagline
{
    font-family: Poppins; 
    font-size: 20px; 
    padding-left: 3%; 
    padding-right: 3%;
}
@media screen and (min-width: 300px)
{
    .tagline
    {
        font-size: 25px; 
    }
}
@media screen and (min-width: 350px)
{
    .tagline
    {
        font-size: 30px; 
    }
}
@media screen and (min-width: 768px)
{
    .tagline
    {
        font-size: 30px; 
        padding-left: 20%; 
        padding-right: 20%;
    }
}
.call-but
{
    font-size: 15px;
}
@media screen and (min-width: 350px)
{
    .call-but
    {
        font-size: 22px;
    }
}
@media screen and (min-width: 768px)
{
    .call-but
    {
        width: 300px;
    }
}



/* section headings */

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: 800;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 em {
  font-style: normal;
  color: #f33f3f;
}

.section-heading img {
  margin: 20px auto;
  width: 40px; 
  height: 30px;
}

.section-heading p
{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: gray;
  line-height: 25px;
}


/* services mission vision */

.services .down-content p
{
  font-weight: 400;
}

/* Call to Action */
